.container {
  background: #333;
  color: #fff;

  width: 50vw;
  min-width: 600px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  .title {
    margin: 10px 0;

    border-bottom: 2px solid #858585;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .list-container {
      width: 30%;

      ul {
        background: #858585;

        height: 50ch;
        padding: 5px;

        li {
          list-style-type: none;
          cursor: pointer;

          padding: 3px;
        }

        .highlighted {
          background: #9c9c9c;
        }
      }
    }

    .action-btns {
      align-self: center;

      display: flex;
      flex-flow: column;
      gap: 10px;

      button {
        background: #09a1c7;
        color: #fff;
        font-size: 1.3rem;

        padding: 7px;

        border-radius: 5px;
        border: none;

        cursor: pointer;
      }
    }
  }
}
